.main-layout {
    display: grid;
    /* grid-template-columns: 25px minmax(500px, 1291px) 25px; */
    gap: 1em;
    background-color: #22252c;
}

.main-layout>* {
    grid-column: 2;
}

.main-content {
    background-color: #383b42;
    border-radius: 0.625em;
    padding: 1.5625em;
    padding-bottom: 10px;
}

.image-container {
    padding: 1rem 0px;
    background-color: #383b42;
    border-radius: 10px;

    display: grid;

    justify-content: center;
    justify-items: center;
    align-items: center;
    /* gap: 1.875em 1.625em; */
    object-fit: cover;
    object-position: center;

}

.meme-editor {
    display: grid;
    /* grid-template-columns: 1fr 1.102941fr; */
    justify-content: space-around;
    justify-items: center;
    background-image: url(/DESIGN/Meme2-GameStyle/Background.png);
}