.editor {
    display: grid;

    padding: 1.5625em 2.5em;
    justify-items: center;
    align-items: center;

    border-radius: 1.8625em;

    background-color: #383b42;

}

.editor .txt {
    text-align: center;
    border: none;
    font-family: 'poppins-medium';
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 1.59375em;
    border-radius: 1.75em;
    box-shadow: 0.3px 5px 0 0 #bbc4d1, inset 0px 5px 0 0 #fff;
    background-color: #ebeef3;

}

.edit-font {
    flex-wrap: wrap;
    position: relative;
    justify-content: center;

}

.add-line {
    background-image: linear-gradient(to top, #37b34a, #42eb5c);
    font-family: 'poppins-semiBold';

    text-shadow: 0.2px 3px 0 rgba(1, 93, 51, 0.61);
    padding: 0 10px;
    font-size: 2.03125em;

}

.add-line::after {
    content: '\2b';
    font-family: 'fa';
}

.remove-line {
    /* font-size: 32.5px; */
    font-size: 2.03125em;
    /* border-radius: 10px; */
    box-shadow: 0.3px 5px 0 0 #8c0606, inset 0px 5px 0 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(to top, #f05036, #cf1d37);
}

.remove-line::after {
    content: '\f1f8';
    font-family: 'fa';
}

input[type='color'] {
    position: absolute;
    opacity: 0;
}

.edit-font {
    border-radius: 1em;
    background-color: #19a59f;
}

.edit-font>* {
    color: #22252c;
    font-family: 'poppins-semiBold';
    font-size: 2.03125em;
}

.fill-btn::after {
    content: '\f576';
    font-family: 'fa';
    color: #22252c;

}

.stroke-btn::after {
    content: '\f1fc';
    font-family: 'fa';
    color: #22252c;

}

.align-text-right::after {
    content: '\f038';
    font-family: 'fa';
}

.align-text-center::after {
    content: '\f037';
    font-family: 'fa';
}

.align-text-left::after {
    content: '\f036';
    font-family: 'fa';
}

.font-select {
    width: 5em;
}

.share>* {
    font-size: 1.3125em;
    font-family: 'poppins-medium';
    width: fit-content;
    padding: 1em;
    /* height: 50px; */
}

.share-facebook {
    box-shadow: 0.3px 6px 0 0 #165c9c, inset 0px 5px 0 0 #ffffff7b;
    background-color: #1e7cd3;
}

.share-facebook::before {
    content: '\f1e0';
    margin-inline-end: 1em;


    font-family: 'fa';

    border-radius: 1.5625em;

}

.download {
    background-color: #632687;
}