.main-header {


    margin-block-start: 34px;
    background-image: linear-gradient(to top, #0c98b9, #33be6d);
    font-family: 'poppins-medium';
    color: #ffffff;

}

.main-header a {
    font-size: 1.3125em;
    color: #ffffff;
    padding: 0.625em;
    border-radius: 18.25em;
    transition: 0.3s ease-out;
}

.main-header a:hover {

    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.15);
    background-color: #fefefe;
    color: #21ac91;

}

.main-header .btn-toggle-menu {
    background-color: inherit;
    border: 0;
    cursor: pointer;
}

.main-header .btn-toggle-menu .hamburger-lines {
    height: 26px;
    width: 32px;
    margin-inline-end: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-header .btn-toggle-menu .hamburger-lines .line {
    height: 4px;
    width: 100%;
    background-color: aliceblue;
    transition: 0.4s;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line1 {
    rotate: -45deg;
    transform-origin: top right;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line2 {
    scale: 0;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line3 {
    rotate: 45deg;
    transform-origin: bottom right;
}