@media (max-width: 817px) {
    .main-layout {
        grid-template-columns: 20px 640px 20px;
    }


    .image-container img {}

    .main-header {
        border-radius: 0px;
        height: 130px;
        position: relative;
    }

    .image-container {

        grid-template-columns: 286px 286px;
        grid-auto-rows: 300px;
        gap: 1.875em 1.625em;

    }

    canvas {
        margin-block-end: 1em;
    }

    .meme-editor {}

    .logo {
        font-size: 2.78125em;
        margin-inline-start: 1.32584em;
    }

    .main-header a {}

    .main-nav {
        position: absolute;
        top: 130px;
        z-index: 1;
        width: 100%;
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: grid-template-rows 1s;
        align-items: end;
    }

    .nav-bar {
        min-height: 0;
        grid-auto-flow: row;
        padding: 5px;
        flex-direction: column;
        background-image: linear-gradient(to top, #0c98b9, #33be6d);
    }

    body.menu-open .main-nav {
        grid-template-rows: 1fr;
    }
}



@media (min-width:817px) {
    .main-layout {
        grid-template-columns: 25px minmax(680px, 1291px) 25px;
    }


    .main-header {
        height: 4.5625rem;
        border-radius: 36.5px;
    }

    .meme-editor {
        display: grid;
        grid-template-columns: 1fr 1.102941fr;
        justify-content: space-around;
        justify-items: center;
        background-image: url(/DESIGN/Meme2-GameStyle/Background.png);
    }

    .image-container {

        grid-template-columns: repeat(auto-fit, 200px);
        grid-auto-rows: 173px;
        height: 35.375rem;
        overflow-y: scroll;
        gap: 2.875em 1.625em;

    }

    .image-container img {


        border-radius: 10px;
        box-shadow: 0px 5px 6px 0 rgba(0, 0, 0, 0.34);
        background-color: #fefefe;

    }

    canvas {
        margin-inline-end: 1em;
    }

    .meme-editor {
        grid-template-columns: 1fr 1.102941fr;
    }

    .logo {
        font-size: 1.375em;
        margin-inline-start: 5em;
    }

    .main-header a {
        margin-inline-end: 2.5em;
    }

    .main-header li:last-child a {
        margin-inline-end: 15.4375em;
    }

    .btn-toggle-menu {
        display: none;
    }
}